html {
  font-size: 18px;
  line-height: 1.4;
  font-family: helvetica;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

/*CSS for main banner*/

.main-banner {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  height: 30rem;
  width: 100%;
  margin: 0 auto;
}

/*Css for text-box inside main banner*/
.flex-text {
  position: absolute;
  top: 14rem;
  right: 9rem;
  background-color: white;
  padding: 1.5rem 5rem;
}
/*end CSS for tex-box*/

.site-container {
  display: flex;
  flex-direction: row;
  width: 960px;
  margin-top: 1rem;
  height: 3rem;
  background-color: cadetblue;
}

.optics-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.optics-banner .title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
 .three {
   margin-left: 19rem;
 }

.optics-banner .three span {
  margin-right: 2rem;
}

/*CSS for mid-section*/
.mid-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 10rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exams,
.fittings,
.delivery  {
  text-align: center;
}

.exams img {
  width: 3.5rem;
  margin-right: 3rem;
  position: relative;
  left: 1.25rem;
}

.fittings img {
  width: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.delivery img {
  width: 5rem;
  margin-left: 3rem;
  position: relative;
  right: 1.5rem;
}

/*CSS for philosophy section*/
.bottom-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.bottom-section {
  width: 960px;
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.philo,
.appts {
   width: 35%;
   height: auto;
   margin: 0 2.5%;
}

.philo h4,
.appts h4 {
  background-color: cadetblue;
  color: white;
  text-transform: capitalize;
  width: 10rem;
  height: auto;
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
}

.philo p,
.appts p {
  margin-bottom: 5rem;
}

/*footer CSS*/

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: azure;
  margin-top: 5rem;
  padding: 4rem 0 4rem 4rem;
}

.text-foot {
  display: flex;
  align-items: center;
}

.foot-flex {
  width: 960px;
}

.foot-flex img {
  height: 1.5rem;
  margin-right: 1rem;
}

@media (max-width: 960px) {
  .main-banner {
    font-size: 0.9rem;
  }
  .flex-text {
    position: absolute;
    top: 10rem;
    right: 5rem;
    background-color: white;
    padding: 0.75rem 3rem;
  }

  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: azure;
    margin-top: 5rem;
    padding: 2rem 0 2rem 2rem;
  }

}
