/*header CSS*/
html {
  font-size: 18px;
  font-family: 'Questrial', sans-serif;
}

.header {
  height: 36px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: helvetica;
}

.header img {
  height: 40px;
  margin-left: 24px;
  margin-right: -40px;
}

.header .colmar {
  font-family: 'PT Serif', serif;
  font-size: 22px;
}

.header .academy {
  font-family: 'PT Serif', serif;
  color: gray;
  font-size: 22px;
}


.header .right{
  margin-left: 848px;
}

.right li {
    color: gray;
    padding: 0 8px;
}

ul {
  list-style: none;
  margin: 0
  padding: 0
}

li {
  display: inline;
}

.right {
  float: right;
}

/*CSS for "learn something new everyday"*/

.flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

/*color and boldness adjustments*/

.grey {
  background-color: hsl(0, 0%, 80%);
}

.light-grey {
  background-color: hsl(0, 0%, 92.5%);
}

.blue {
  color: blue;
}

.bold {
  font-weight: 700;
}

.row-one {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.row-one img {
  margin: 32px 24px;
}

.row-one video {
  height: 500px;
  margin: 0 24px;


}

.row-one h6 {
  font-size: 34px;
  margin: 32px 0 24px 24px;
  color: hsl(0, 0%, 20%);
}

.row-one p {
  margin-left: 24px;
  font-size: 18px;
  color: hsl(0, 0%, 45%);
}

.byline {
  color: hsl(0, 0%, 10%);
  font-weight: 700;
}

.side-bar {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.side-bar h1 {
  font-size: 44px;
  font-weight: 1000;
}

.side-bar h4 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.25;
}

.btn {
  color: hsl(0, 0%, 70%);
  background-color: hsl(0, 0%, 20%);
  width: 330px;
  padding: 8px 0;
  text-align: center;
}

.btn:hover {
  background-color: hsl(322, 81%, 43%);
  color: hsl(0, 0%, 20%);
}

.main-side {
  width: 66.6%;
  position: relative;
  top: 250px;
  left: 40px
}

/*this makes the "doesn't hurt to practice" pic smaller*/

.squish-pic {
  height: 53.5%;
}

/*this moves the "doesn't hurt to practice" side bar down*/

.push-down {
  margin-top: 32px;
}

/*this will push a margin up, if needed*/

.push-up {
  margin-top: -100px;
}

/*this makes the "doesn't hurt to practice" side pics smaller*/

.thumbnail {
  width: 35%;
  height: auto;
  margin: 16px;
  float: left;
}

.side-box-title {
  color: hsl(0, 0%, 25%);
  font-size: 28px;
}

.side-bar-item {
  display: inline-flex;
  align-items: center;
}

.inline-words a {
  text-decoration: none;
  color: #3b8cf7;
}

/*Start Learning Section*/
.center-flex {
  display: flex;
  justify-content: space-between;
  margin: 0 72px;
}

.title {
  color: hsl(0, 0%, 25%);
  text-align: center;
  margin: 16px 0;
  padding-top: 32px;
}

.column {
  display: inline-block;
  width: 30%;
  text-align: left;
  margin: 16px 16px;
  background-color: white;
}

.column img {
  width: 100%;
  height: auto;
}
.words-in-column {
  margin: 16px 0 24px 16px;
  font-size: 22px;
}
    /*footer CSS*/

footer {
  padding-top: 16px;
  border-top: 1px solid hsl(0, 0%, 25%);
  margin-left: 24px;
  color: hsl(0, 0%, 45%);
}

footer .right {
  margin-left: 6px;
  margin-right: 6px;
  text-decoration: none;
  color: hsl(0, 0%, 45%);
}







    /*mobile CSS header*/

.header-mobile {
  visibility: hidden;
}

.header-mobile-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 480px) {
  .header img,
  .header li {
    visibility: hidden;
  }
  .header-mobile {
    visibility: visible;
  }

}
