.header {
  display: flex;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.logo {
  display: flex;
  color: mediumaquamarine;
}

img {
  padding-right: 1100px;
}

.nav li {
  list-style: none;
  display: inline-block;
  justify-content: space-around;
  padding: 0 10px;
}

a {
  color: black;
}

a:hover {
  color: red;
}

.main {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
}

.large_column {
  display: flex;
}

.medium_column {
  display: flex;
}

.small_column {
  display: flex;
}

.phish {
  border: 2px solid blue;

}

.burger {
  border: 2px solid blue;
}

.orca {
  border: 2px solid blue;
}

.earth {
  border: 2px solid blue;
}

.cat {
  border: 2px solid blue;
}
.camera {
  border: 2px solid blue;
}

.fbi {
  border: 2px solid blue;
}
footer {
  background-color: teal;
  padding: 100px;
}
